UserInterfaceState.xcuserstate
DerivedData
.DS_Store

## Backups made by gedit
*.orig
*.*~

## Exclude databases and log files

*.db
*.log

## Sublime tags

.tags
.tags_sorted_by_file
tags

cppTsunku
main.o
IrcBot.o

